@import "@fontsource/jetbrains-mono/400.css";
@import "@fontsource/jetbrains-mono/500.css";

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: "JetBrains Mono", ui-monospace, monospace;
}

#root {
  min-height: 100vh;
}
